<html>
<head>
  <title>RockPaperScissors</title>
  <link rel="stylesheet" media="all" href="/assets/application-e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855.css" />
  <script src="/assets/application-25bd6b47ad2ef49757a639cd9dc9d7c4b137f7a0bf03bb8d13757d905d6dfcef.js"></script>
  <meta name="csrf-param" content="authenticity_token" />
<meta name="csrf-token" content="ejmJzxTdqcRHtov8KawY6Mv4yXHI1ZNorHzauUkUGiU/cSJRVymxI3HxZF31K7Ej8gWa3vsPFsXIld65bmyf5w==" />

  <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.css">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

  <style>
    .move-icon {
      font-size: 144px;
    }
  </style>
</head>

<h1>You played Scissors<h1>

  <a href="/paper" class=btn btn-default> Play Paper </a>
  <a href="/rock" class=btn btn-default> Play Rock </a>
  <a href="/scissors" class=btn btn-default> Play Scissors </a>

  <h1>The computer played <%= @computer_move %></h1>
  <h1>You did <%= @outcome %></h1>
  </html>
